body {
  background-color: lightblue;
}

.center-content {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  text-align: center;
  /* For a spacing of 10px total */
  margin: 5px;
}

#logo {
  border: solid lightcoral 20px;
  width: 50%;
}

h3 {
  font-weight: bold;
  color: darkviolet;
}

#quotes-section {
  border: dotted lightgoldenrodyellow 1px;
}
